@import 'colors', 'constants';
@import 'action-icons';

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: $bar-width max-content;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "find-me page"
        "find-me footer";
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: $text-lighter;

    @media(max-width: $responsive-width) {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "find-me"
            "page"
            "footer";
    }
}

header,
aside,
main,
footer {
    border: thin solid black;
}

h1,
h2,
h3,
h4,
ul,
ol {
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: $text-light;

    &:hover,
    &:focus {
        color: $text-lighter;
    }
}

header {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    grid-area: header;
    background-color: $bg-light;
    height: $bar-width;
    line-height: $bar-width;

    >* {
        flex: 0 0 auto;
    }

    #logo {
        width: $bar-width;
        height: $bar-width;
        margin-right: 0.4em;

        a>svg use {
            fill: $text-lighter;
        }
    }

    h1,
    h2 {
        display: inline-block;
    }

    h2:before {
        margin: 0 0.4em;
        content: '·';
    }

    @media(max-width: $responsive-width) {

        #logo,
        h2 {
            display: none;
        }

        h1 {
            text-align: center;
            flex-grow: 1;
        }
    }
}

#page {
    grid-area: page;
    display: flex;

    @media(max-width: $responsive-width) {
        display: inherit;
    }

    aside {
        flex: 0 0 $sidebar-width;
        background-color: $bg-dark;
    }

    main {
        flex: 1 1 0;
        background-color: $bg-darker;
    }
}

#page>aside {
    picture {
        display: block;
        width: $sidebar-width;
        height: $sidebar-width;
        border: thin solid $text-lighter;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    section {
        border-bottom: thin solid black;
        padding: 1em 0;
    }
}

#find-me {
    grid-area: find-me;
    background-color: $bg-light;

    h2 {
        visibility: hidden;
        height: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        @media(max-width: $responsive-width) {
            flex-direction: row;
            justify-content: space-around;
        }

        >li {
            flex: 0 0 auto;

            a {

                &:hover,
                &:focus {
                    background-color: $bg-lighter;
                }
            }
        }
    }
}

footer {
    grid-area: footer;
    background-color: $bg-lighter;
}

ul.inline-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: none;
        }
    }
}