@import 'colors', 'constants';

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: $bar-width max-content;
    grid-template-rows: auto;
    grid-template-areas:
        "find-me header"
        "find-me page"
        "find-me footer";
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: $text-lighter;

    @media(max-width: 640px) {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "find-me"
            "page"
            "footer";
    }
}

header,
aside,
main,
footer {
    border: thin solid black;
}

h1,
h2,
h3,
h4,
ul,
ol {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text-light;

    &:hover,
    &:focus,
    &:visited {
        color: $text-lighter;
    }
}

header {
    grid-area: header;
    background-color: $bg-light;
    height: $bar-width;
    line-height: $bar-width;
    padding-left: 0.4em;

    h1,
    h2 {
        display: inline-block;
    }

    h2:before {
        content: ' · ';
    }
}

#page {
    grid-area: page;
    display: flex;

    @media(max-width: 640px) {
        display: inherit;
    }

    aside {
        flex: 0 0 250px;
        background-color: $bg-dark;
    }

    main {
        flex: 1 1 0;
        background-color: $bg-darker;
    }
}

#page>aside {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    section {
        border-bottom: thin solid black;
        padding: 1em 0;
    }
}

#find-me {
    grid-area: find-me;
    background-color: $bg-light;

    h2 {
        visibility: hidden;
        height: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        @media(max-width: 640px) {
            flex-direction: row;
            justify-content: space-around;
        }

        >li {
            flex: 0 0 auto;

            a {
                >svg use {
                    fill: $text-light;
                }
            }
        }
    }

    a {
        display: block;
        padding: 16%;
        width: $bar-width;
        height: $bar-width;

        >svg use {
            fill: $text-lighter;
        }

        &:hover,
        &:focus {
            background-color: $bg-lighter;

            >svg {
                transform: scale(1.1);
                filter: drop-shadow(0 0 2px $text-lighter);

                use {
                    fill: $text-lighter;
                }
            }
        }
    }
}

footer {
    grid-area: footer;
    background-color: $bg-lighter;
}

ul.inline-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: none;
        }
    }
}