@import 'colors', 'constants';
@import 'action-icons';

* {
    box-sizing: border-box;
}

$default-inset-shadow-top: inset 0 6px 4px -4px $shadow-dark;
$default-inset-shadow-bottom: inset 0 -6px 4px -4px $shadow-dark;
$default-inset-shadow-left: inset 6px 0 4px -4px $shadow-dark;
$default-inset-shadow: inset 0 0 4px 2px $shadow-darker;

html {
    width: 100vw;
}

body {
    display: grid;
    min-height: 100vh;
    min-width: 520px;
    grid-template-columns: $bar-width 1fr;
    grid-template-rows: $bar-width 1fr auto;
    grid-template-areas:
        "header header"
        "find-me page"
        "find-me footer";
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: $text-lighter;

    @media(max-width: $responsive-width) {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "find-me"
            "page"
            "footer";
    }
}

h1,
h2,
h3,
h4,
ul,
ol {
    margin: 0;
}

ul {
    list-style-type: square;

    li {
        margin-bottom: 0.4em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

a,
a:visited {
    text-decoration: none;
    color: $text-light;

    &:hover,
    &:focus {
        color: $text-lighter;
    }
}

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    grid-area: header;
    background-color: $bg-light;
    height: $bar-width;
    line-height: $bar-width;

    >* {
        flex: 0 0 auto;
    }

    #logo {
        width: $bar-width;
        height: $bar-width;
        margin-right: 0.4em;

        a>svg use {
            fill: $text-lighter;
        }
    }

    h1,
    h2 {
        display: inline-block;
    }

    h1>span {
        // display: none;
        font-variant: small-caps;

        &:after {
            margin: 0 0.1em;
            content: ' –';
        }
    }

    h2:before {
        margin: 0 0.4em;
        content: '·';
    }

    @media(max-width: $responsive-width) {

        #logo,
        h2 {
            display: none;
        }

        h1 {
            text-align: center;
            flex-grow: 1;
        }
    }
}

#page {
    grid-area: page;
    display: flex;

    @media(max-width: $responsive-width) {
        display: inherit;
    }

    aside {
        flex: 0 0 $sidebar-width;
        background-color: $bg-dark;
        box-shadow: $default-inset-shadow-left, $default-inset-shadow-top, $default-inset-shadow-bottom;
    }

    main {
        flex: 1 0 0;
        background-color: $bg-darker;
        box-shadow: $default-inset-shadow;
        padding: 2em;

        h1,
        h2,
        p {
            width: 100%;
            text-align: center;
            margin-top: 0.5em;
        }

        h1 {
            font-size: 4.5em;
            line-height: 1em;
            letter-spacing: 0.02em;
        }

        h2 {
            margin-bottom: 1.5em;
        }

        p {
            font-size: 1.2em;
            margin: 0.4em 0;
        }
    }
}

#page>aside {
    picture {
        display: block;
        width: $sidebar-width;
        height: $sidebar-width;
        border-bottom: thin solid $text-lighter;
    }

    hgroup {
        margin-bottom: 1em;

    h1 {
            font-size: 1.55em;
            padding-bottom: 0.2em;
            margin-bottom: 0.3em;
            border-bottom: thin solid $text-light;
    }

    h2 {
            font-size: 1.1em;
            line-height: 1.5em;
    }
    }

    > section {
        border-bottom: thin solid $text-lighter;
        padding: 1em;

        &:last-child {
            border: none;
            // margin-bottom: 2em;
        }
    }

    #quick-facts > ul {
        padding: 0 0 0 1em;

        > li > a {
            display: inline-block;
        }
    }
}

#find-me {
    grid-area: find-me;
    background-color: $bg-light;

    h2 {
        visibility: hidden;
        height: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: flex-start;
        list-style: none;
        padding: 0;

        @media(max-width: $responsive-width) {
            flex-direction: row;
            justify-content: space-around;
        }

        >li {
            flex: 0 0 auto;

            a {

                &:hover,
                &:focus {
                    background-color: $bg-lighter;
                }
            }
        }
    }
}

footer {
    grid-area: footer;
    background-color: $bg-lighter;
    box-shadow: $default-inset-shadow-left;

    padding: 1em;

    p {
        margin-top: 0;
        line-height: 1.5em;
    }
}

ul.inline-list {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: none;
        }
    }
}

.inline-icon {
    display: inline-block;
    fill: white;
}
